body {
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  background-color: #333;
  color: white;
}

header img {
  padding: 5px 0 0 8vw;
  max-width: 50px;
  width: 100%;
  height: auto;
  box-shadow: -2px 3px 23px 0px white;
}

section, form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding-top: 4vh;
}

h2 {
  text-align: center;
}

button {
  margin: 3px;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding-right: 8vw;
  list-style: none;
}

li {
  padding-left: 5vw;
}

footer {
  justify-content: flex-end;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 430px) {
  .page-wrapper {
    padding-top: 10vh;
    height: 100%;
  }

  header {
    align-items: center;
    padding: 0;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  header img {
    padding: 5px 0 0 0;
  }

  nav ul {
    flex-direction: column;
  }

  footer {
    text-align: center;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
  }

}
